* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__bg {
  background-color: #0067ab;
  background-image: linear-gradient(160deg, #004d80 0%, #001334 100%);
}

.section__padding {
  padding: 4% 6%;
}

.section__margin {
  margin: 4% 6%;
}
.scale-down-center {
  -webkit-animation: scale-down-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-down-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-down-center {
  0% {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  100% {
    opacity: 100;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-down-center {
  0% {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  100% {
    opacity: 100;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/**
 * ----------------------------------------
 * animation scale-down-center
 * ----------------------------------------
 */

@media screen and(max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}
@media screen and(max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }
} ;
